{{ dump(result) }}
<p>
    <code>
        <p>$mpiCon = new MpiConnection(new ConnectionConstants(ConnectionConstants::ONNUMARA), new \DateTime('2015-05-04'));</p>
        <p>$onnumara = new OnNumaraAdapter($mpiCon);</p>
    </code>
</p>