<h1>Şans Sende - LotteryResultBundle</h1>
{{ dump(result) }}
<p>
    <code>
        <p>$lottery = $this->get('lottery');</p>
        <p>$result = $lottery->setOption('PIYANGO', new \DateTime('2015-05-09'))->getResultClass();</p>
    </code>
</p>