<h1>Şans Sende - LotteryResultBundle</h1>
{{ dump(result) }}
<p>
    <code>
        <p>$sayisalloto = $this->get('sayisalloto');</p>
        <p>$sayisalloto->setRaffleDate(new \DateTime('2015-04-25'));</p>
    </code>
</p>