<h1>Şans Sende - LotteryResultBundle</h1>
<ul>
    <li><a href="{{ url('_lottery_test_manuel') }}">Manuel Usage</a></li>
    <li><a href="{{ url('_lottery_test_service') }}">Using service</a></li>
    <li><a href="{{ url('_lottery_test_otherusesservice') }}">Service Other Uses</a></li>
    <li><a href="{{ url('_lottery_test_piyango') }}">Lottery ticket</a></li>
</ul>
